name: up

on:
  issues:
    types: [opened, reopened]

jobs:
  update:
    if: github.event.issue.title == 'update' && github.event.sender.login == 'portlek'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: peter-evans/create-pull-request@v3
        with:
          title: 'update'
